<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Veicoli</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<h2>Lista dei Veicoli</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modello</th>
            <th>Anno</th>
            <th>Targa</th>
            <th>Disponibilità</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="veicolo : ${veicoli}">
            <td th:text="${veicolo.veicoloId}"></td>
            <td th:text="${veicolo.marca}"></td>
            <td th:text="${veicolo.modello}"></td>
            <td th:text="${veicolo.anno}"></td>
            <td th:text="${veicolo.targa}"></td>
            <td th:text="${veicolo.disponibilita ? 'Disponibile' : 'Non Disponibile'}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
